<div class="row justify-content-center">
<h2 class="text-center">Create My Gear</h2>
<div class="col-6">
<%= simple_form_for [@user, @gear] do |form| %>
  <% if gear.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(gear.errors.count, "error") %> prohibited this gear from being saved:</h2>
      <ul>
        <% gear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.input :gear_type, collection: %w(Hiking Rock-Climbing Cooking Sleeping Kayak Navigation Shelter Sleeping-Bags Hydration Navigation First-Aid Survival Illumination Repair-Kits) %>
  <%= form.input :gear_name %>
  <%= form.input :total_occupancy, collection: 1..20%>
  <%= form.input :summary %>
  <%= form.input :address %>
  <%= form.input :price %>
  <%= form.input :photos, as: :file, input_html: { multiple: true } %>
  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
</div>