<% @gear.attributes.each do |k,v| %>
  <%= "#{k}: #{v}" %>
<% end %>
<p>
<%= link_to "book this gear", new_gear_rental_path(@gear) %>
| <%= link_to "Gear owner profile page", user_path(@gear.user) %>
</p>


<%# Here is all the reviews by renters%>
<div class="col-4" id="allreview">
  <h2>Reviews</h2>
  <ul class="list-group list-group-flush">
      <% @gear.reviews.each do |review| %>
        <li class="list-group-item">
        <div class="review-rating">
        <% review.rating.to_i.times do %>
        <label class="rating-color">★</label>
        <% end %>
        <% review.blank_stars.times do %>
        <label>☆</label>
        <% end %>
        <%= review.message %>
        </div>
        <div class="row justify-content-between">
          <div class="col-10">
            <%= review.content %>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
</div>
